{% load wagtailcore_tags wagtailimages_tags bg_tags mdi_tags picture_tags %}
{% load table_block_tags %}
<div class="block-layout block-layout--{{ self.width }} block-layout--align-{{ self.alignment }} block-layout--valign-{{ self.vertical_alignment|default:'top' }}{% if self.full_width_background %} {% bg_classes self.background_color True %}{% endif %}">
<div class="content-block {% bg_classes self.background_color %}">

    {% if self.heading %}
    <h3>{% if self.icon_name %}{% mdi_icon self.icon_name self.icon_size %} {% endif %}{{ self.heading }}</h3>
    {% endif %}

    {% if self.paragraph %}
    <div class="content-block__paragraph">
        {{ self.paragraph|richtext }}
    </div>
    {% endif %}


    {% if self.image %}
    {% widthratio self.image_width|default:"100" 100 self.image.width as img_max_w %}
    <div class="content-block__image content-block__image--{{ self.image_style|default:'rounded' }} content-block__image--align-{{ self.image_alignment|default:'centre' }}"
         style="max-width: {{ img_max_w }}px">
        {% if self.image_link_page %}
        <a href="{% pageurl self.image_link_page %}" class="content-block__image-link">
            {% content_picture self.image %}
        </a>
        {% elif self.image_link_url %}
        <a href="{{ self.image_link_url }}" class="content-block__image-link">
            {% content_picture self.image %}
        </a>
        {% else %}
        {% content_picture self.image %}
        {% endif %}
    </div>
    {% endif %}

</div>
</div>