{% load static %}

<div class="footer">
    <div class="footer__content">
        <div class="footer__content-column">
            <div class="logo">
                <img class="logo" src="{% static 'img/menu/EO-Data-Hub-logo_white_grey_425px.png' %}" />
            </div>
        </div>
        <div class="footer__content-column">
            <div class="title">
                EODH
            </div>
            <div class="links">
                <a href="#">About</a>
                <a href="#">News</a>
                <a href="#">Use cases</a>
                <a href="#">Data stories</a>
                <a href="#">Data exploitation</a>
                <a href="#">Key stakeholders</a>
                <a href="#">Key partners</a>
            </div>
        </div>
        <div class="footer__content-column">
            <div class="title">
                Resources
            </div>
            <div class="links">
                <a href="#">Public data</a>
                <a href="#">Private data</a>
                <a href="#">Commercial data</a>
                <a href="#">Optical</a>
                <a href="#">Radar</a>
                <a href="#">Climate</a>
            </div>
        </div>
        <div class="footer__content-column">
            <div class="title">
                Legal
            </div>
            <div class="links">
                <a href="#">Terms of use</a>
                <a href="#">Licence agreement</a>
                <a href="#">Privacy policy</a>
                <a href="#">Cookies policy</a>
                <a href="#">Manage preferences</a>
            </div>
        </div>

        <div class="footer__content-column">
            <div class="title">
                Help
            </div>
            <div class="links">
                <a href="#">FAQ</a>
                <a href="#">Support</a>
                <a href="#">Contact</a>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="copyright">
            &copy; 2025 Earth Observation Data Hub (EODH)
        </div>
        <div class="socials">
            <a href="#"><img src="{% static 'img/socials/x.svg' %}" /></a>
            <a href="#"><img src="{% static 'img/socials/insta.svg' %}" /></a>
            <a href="#"><img src="{% static 'img/socials/youtube.svg' %}" /></a>
            <a href="#"><img src="{% static 'img/socials/linkedin.svg' %}" /></a>
        </div>
    </div>
</div>