<html lang="en">
<head>
    <script>window.STAC_BROWSER_CONFIG = {
  catalogUrl: 'https://api.stac.ceda.ac.uk',
}</script>
    <script defer="defer" src="{{ url }}/chunk-vendors.bundle.js"></script>
    <script defer="defer" src="{{ url }}/app.bundle.js"></script>
</head>
<body>
<h1>This is a catalogue browser</h1>
<div id="stac-browser"></div>
<noscript><strong>We're sorry but STAC Browser doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
<p>

</body>
</html>
