{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="home-page-banner-container">

    {% if page.banner_image %}
    {% image page.banner_image scale-100 as img %}<img alt="Banner image" class="home-page-banner-image"
                                                       src="{{ img.url }}">
    {% endif %}

    <div class="home-page-banner-text">
        {{ page.title|richtext }}
    </div>
</div>

<div class="home-page-border">
    <div class="home-page-content">
        {% if page.image %}
        {% image page.image scale-100 as img %}<img class="home-page-image-50" src="{{ img.url }}">
        <div class="home-page-text-50">{{ page.body|richtext }}</div>
        {% else %}
        <div class="home-page-text-100">{{ page.body|richtext }}</div>
        {% endif %}
        <p>
    </div>
</div>

{% endblock content %}
