{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="homePageBannerContainer">
    {% image page.banner_image scale-100 as img %}<img src="{{ img.url }}" class="homePageBannerImage">

    <div class="homePageBannerText">
        {{ page.title|richtext }}
    </div>
</div>

<div class="homePageBorder">
    <div class="homePageContent">
        {% if page.image %}
        {% image page.image scale-100 as img %}<img src="{{ img.url }}" class="homePageImage50">
        <div class="homePageText50">{{ page.body|richtext }}</div>
        {% else %}
        <div class="homePageText100">{{ page.body|richtext }}</div>
        {% endif %}
        <p>
    </div>
</div>

{% endblock content %}
