{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load render_bundle from webpack_loader %}

{% block content %}

{% include "home_menu.html" %}

<div class="homePageBorder mb-4">
    <div class="homePageTitle">
        <h2 class="text-center my-4">{{ page.title|richtext }}</h2>
    </div>

    <div class="homePageContent d-flex flex-column align-items-center">
        <div class="homePageText50 mb-0 pb-0 text-justify">
            {{ page.body|richtext }}
        </div>

        <div class="container mb-4">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card shadow-lg">
                        <div class="card-header bg-primary text-white">
                            <h4 class="my-2">S3 Credentials</h4>
                        </div>
                        <div class="card-body bg-light">
                            <!-- Credentials management section -->
                            <div id="CredentialsManagement" class="mb-4 d-none">
                                <div class="mb-3">
                                    <label for="activeCredentials" class="form-label">Access Key</label>
                                    <input type="text" class="form-control mb-3" id="accessKey" placeholder="Access Key"
                                        readonly disabled>
                                    <label for="activeCredentials" class="form-label">Secret Key</label>
                                    <input type="text" class="form-control mb-3" id="secretKey" placeholder="Secret Key"
                                        readonly disabled>

                                    <label for="activeCredentials" class="form-label">Session Token</label>
                                    <input type="text" class="form-control" id="sessionToken"
                                        placeholder="Session Token" readonly disabled>
                                </div>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button type="button" class="btn btn-primary btn-lg"
                                        onclick="refreshCredentials()">Refresh Credentials</button>
                                    <button type="button" class="btn btn-danger btn-lg"
                                        onclick="revokeCredentials()">Revoke
                                        Credentials</button>
                                </div>
                            </div>
                            <!-- Username entry form -->
                            <form id="usernameForm" class="mb-4" autocomplete="off">
                                <div class="form-group d-flex flex-column mb-3">
                                    <label for="username" class="form-label mb-0">Username</label>
                                    <small class="mb-3 text-muted small font-italic">Entering your username is currently
                                        a temporary
                                        measure while we work on enhancing the authentication system</small>
                                    <input type="text" class="form-control" id="username"
                                        placeholder="Enter your username" required autocomplete="off" />
                                </div>
                                <div class="mb-3">
                                    <button type="button" class="btn btn-primary btn-lg" onclick="getCredentials()">Get
                                        Credentials</button>
                                </div>
                            </form>
                            <!-- Loading Spinner -->
                            <div id="loadingSpinner" class="text-center mt-4 d-none">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% render_bundle 'access_page' %}
{% endblock content %}