{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="account-page content-page">
    <section class="account-page__hero">
        <h1>Account Management</h1>
        <p class="account-page__hero-description">
            An account lets you manage billing and workspace creation for your organisation.
            By creating an account, you establish a clear legal and billing relationship between your organisation and
            EODH, allowing you to group and manage multiple workspaces.

            <br/><br/>
            To get started, create a new account using the button below or select an existing account to manage.

        </p>

        <section class="account-page__actions-container">
            <div class="account-page__actions">
                <button id="open-create-account" class="button primary-button">Create New Account</button>
            </div>
        </section>
    </section>
    <section class="account-page__cards" id="accounts-container">
        <p class="loading-message">Loading accounts…</p>
    </section>
</div>

<!-- Modal -->
<div id="create-account-modal" class="account-modal">
    <div class="modal-content">
      <span class="close-button">&times;</span>
      <h2>Create New Account</h2>
      <form id="create-account-form" autocomplete="off">
         <div class="form-group">
          <label for="account-owner">Account Owner</label>
          <input type="text" id="account-owner" name="account_owner" value="{{ username }}" readonly>
        </div>
        <div class="form-group">
          <label for="account-name">Account Name</label>
          <input type="text" id="account-name" name="account_name" required>
        </div>
        <div class="form-group">
          <label for="billing-address">Billing Address</label>
          <textarea id="billing-address" name="billing_address" rows="3" required></textarea>
        </div>
        <div class="form-group">
          <label for="organization-name">Organization Name</label>
          <input type="text" id="organization-name" name="organization_name" required>
        </div>
        <div class="form-group">
          <label for="account-opening-reason">Account Opening Reason</label>
          <textarea id="account-opening-reason" name="account_opening_reason" rows="3" required></textarea>
        </div>
        <div class="form-group">
          <input type="checkbox" id="agree-terms" name="agree_terms" required>
          <label for="agree-terms">
            I agree to the <a href="/terms-and-conditions" target="_blank">hub terms and conditions</a> on behalf of my organisation.
          </label>
        </div>
        <div class="form-group">
          <button type="submit" class="button primary-button">Create Account</button>
        </div>
      </form>
      <div id="create-account-message" class="message"></div>
    </div>
  </div>
{% endblock content %}