{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

{% include "home_menu.html" %}

<div class="homePageBorder">
    <div class="homePageTitle">
        {{ page.title|richtext }}
    </div>

    <div class="homePageContent">
        {% for announcement in announcements %}
            <div class="homePageAnnouncement">
                <a href="{{ announcement.slug }}">
                    {% if announcement.image %}
                        <div class="homePageImage100">{% image announcement.image max-320x150 as img %}<img src="{{ img.url }}" alt="{{ img.alt }}" class="homePageImage"></div>
                    {% endif %}
                    <div class="homePageAnnouncementTitle">{{ announcement.title }}</div>
                    <div class="homePageAnnouncementSummary">{{ announcement.summary|truncatechars:255 }}</div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
