{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="logo"></div>



<div class="titlebar_home_mobile">
    <div class="titlebar_home_logo_mobile"><img class="logo" src="{% static 'img/home/EO-Data-Hub-logo_colour.svg' %}"></div>
    <div class="titlebar_home_text_mobile">{{ page.title }}</div>
</div>

<div class="titlebar_home">
    <div class="titlebar_home_logo"><img class="logo" src="{% static 'img/home/EO-Data-Hub-logo_colour.svg' %}"></div>
    <div class="titlebar_home_text">{{ page.title }}</div>
</div>

<div class="home_centre_h">
    {% for announcement in announcements %}
        <div class="home_announcement_wrapper">
            <a href="{{ announcement.slug }}">
                {% if announcement.image %}
                    <div class="home_announcement_image">{% image announcement.image max-320x150 as img %}<img src="{{ img.url }}" alt="{{ img.alt }}" class="announcement_centre_image"></div>
                {% else %}
                    <div class="home_announcement_image_placeholder"></div>
                {% endif %}
                <div class="home_announcement_title">{{ announcement.title }}</div>
                <div class="home_announcement_summary">{{ announcement.summary }}</div>
            </a>
        </div>
    {% endfor %}
</div>





{% endblock content %}
