{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailuserbar %}
{% load static %}

{% block content %}
<div class="generic-page content-page documentation-page">

    <header class="documentation-header">
        <h1>{{ page.title }}</h1>
        {% if page.subtitle %}
        <h2>{{ page.subtitle }}</h2>
        {% endif %}
    </header>

    {% if page.intro %}
    <section class="generic-page__intro">
        <p>{{ page.intro|richtext }}</p>
    </section>
    {% endif %}

    {% if page.topics %}
    <section class="faq-cards">
        {% for panel in page.topics %}
        <a href="{{ request.build_absolute_uri }}{{ panel.value.slug }}" class="faq-card">
            <div class="faq-card__header">
                <h2 class="faq-card__title">{{ panel.value.title }}</h2>
                {% if panel.value.image %}
                {% image panel.value.image fill-100x100 as panel_image %}
                <img src="{{ panel_image.url }}" alt="{{ panel.value.title }}" class="faq-card__image" />
                {% endif %}
            </div>
            <p class="faq-card__description">{{ panel.value.description|richtext }}</p>
        </a>
        {% endfor %}
    </section>
    {% endif %}

</div>
{% endblock content %}

{% block wagtailuserbar %}
{% wagtailuserbar %}
{% endblock %}