{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailuserbar bg_tags %}
{% load static %}

{% block content %}
<div class="generic-page content-page documentation-page">

    <header class="documentation-header">
        <h1>{{ page.title }}</h1>
        {% if page.subtitle %}
        <h2>{{ page.subtitle }}</h2>
        {% endif %}
    </header>

    {% if page.intro %}
    <section class="generic-page__intro {% bg_classes page.intro_background_color True %}">
        <p>{{ page.intro|richtext }}</p>
    </section>
    {% endif %}

    {% if page.topics %}
    <section class="faq-cards {% bg_classes page.topics_background_color page.topics_full_width_background %}">
        {% for panel in page.topics %}
        {% include "home/includes/topic_card.html" with panel=panel %}
        {% endfor %}
    </section>
    {% endif %}

</div>
{% endblock content %}

{% block wagtailuserbar %}
{% wagtailuserbar %}
{% endblock %}