{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="homePageBannerContainer" id="big">

    {% if page.banner_image %}
        {% image page.banner_image scale-100 as img %}<img src="{{ img.url }}" class="homePageBannerImage">
    {% endif %}

    <div class="homePageBannerText" id="centre">
        {{ page.title|richtext }}
    </div>
</div>

<div class="homePageBorder">
    <div class="homePageContent">

        {% if page.image %}
        {% image page.image scale-100 as img %}<img src="{{ img.url }}" class="homePageImage50">
        <div class="homePageText50">{{ page.body|richtext }}</div>
        {% else %}
        <div class="homePageText100">{{ page.body|richtext }}</div>
        {% endif %}

        {% if page.video_url %}
        <p>
        <div class="homePageText100">
            <video width="100%" class="homePageContent" controls src={{ page.video_url }}></video>
        </div>
        {% endif %}

        <p>
    </div>
</div>

<div class="boxes">
    <div class="homePageBorder" id="footer">
        <div class="boxLink">
            <a href="/about">

                {% if page.about_image %}
                    {% image page.about_image scale-100 as img %}<img src="{{ img.url }}" class="boxLinkImage">
                {% endif %}
                <div class="boxLinkText">About</div>
            </a>
        </div>
        <div class="boxLink">
            <a href="/news">

                {% if page.news_image %}
                    {% image page.news_image scale-100 as img %}<img src="{{ img.url }}" class="boxLinkImage">
                {% endif %}
                <div class="boxLinkText">News</div>
            </a>
        </div>
        <div class="boxLink">
            <a href="/contact">

                {% if page.contact_image %}
                    {% image page.contact_image scale-100 as img %}<img src="{{ img.url }}" class="boxLinkImage">
                {% endif %}
                <div class="boxLinkText">Contact</div>
            </a>
        </div>
        <span class="stretch"></span>

    </div>
</div>

{% endblock content %}
