{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="homePageBannerContainer">

    {% if page.get_parent.specific.banner_image %}
        {% image page.get_parent.specific.get_banner_image scale-100 as img %}<img src="{{ img.url }}" class="homePageBannerImage">
    {% endif %}

    <div class="homePageBannerText">
        {{ page.title|richtext }}
    </div>
</div>

<div class="homePageBorder">
    <div class="homePageContent">
        <div class="homePageText100">
            <div class="emphasis">Published: {{ page.last_published_at|date:"d M Y" }}</div>
            <p>
            {{ page.body|richtext }}
        </div>
    </div>
</div>


{% endblock content %}
