{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="home-page-banner-container content-page">

    {% if page.banner_image %}
    {% image page.banner_image scale-100 as img %}<img alt="Banner image" class="home-page-banner-image"
        src="{{ img.url }}">
    {% endif %}

    <div class="home-page-banner-text">
        {{ page.title|richtext }}
    </div>
</div>

<div class="home-page-border">
    <div class="home-page-content">
        {% for article in news_articles %}
        <div class="home-page-item">
            <a href="{{ article.slug }}">
                {% if article.image %}
                <div class="home-page-image-100">{% image article.image max-320x150 as img %}<img
                        class="home-page-image" src="{{ img.url }}">
                </div>
                {% endif %}
                <div class="home-page-item-title">{{ article.title }}</div>
                <div class="home-page-itemSummary">{{ article.summary|truncatechars:255 }}</div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}