{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="homePageBannerContainer">
    {% image page.banner_image scale-100 as img %}<img src="{{ img.url }}" class="homePageBannerImage">

        <div class="homePageBannerText">
            {{ page.title|richtext }}
        </div>
</div>

<div class="homePageBorder">
    <div class="homePageContent">
        {% for article in news_articles %}
            <div class="homePageItem">
                <a href="{{ article.slug }}">
                    {% if article.image %}
                        <div class="homePageImage100">{% image article.image max-320x150 as img %}<img src="{{ img.url }}" class="homePageImage"></div>
                    {% endif %}
                    <div class="homePageItemTitle">{{ article.title }}</div>
                    <div class="homePageItemSummary">{{ article.summary|truncatechars:255 }}</div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
