{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

{% include "home_menu.html" %}

<div class="homePageBannerContainer">
    {% image page.get_parent.specific.get_banner_image scale-100 as img %}<img src="{{ img.url }}" alt="{{ img.alt }}" class="homePageBannerImage">

        <div class="homePageBannerText">
            {{ page.title|richtext }}
        </div>
</div>

<div class="homePageBorder">
    <div class="homePageContent">
        <div class="homePageText100">{{ page.body|richtext }}</div>
    </div>
</div>


{% endblock content %}
