{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="homePageBannerContainer">

    {% if page.banner_image %}
        {% image page.get_parent.specific.get_banner_image scale-100 as img %}<img alt="Banner image"
                                                                                   class="homePageBannerImage"
                                                                                   src="{{ img.url }}">
    {% endif %}

    <div class="homePageBannerText">
        {{ page.title|richtext }}
    </div>
</div>

<div class="homePageBorder">
    <div class="homePageContent">

        {% include "breadcrumbs.html" %}

        <div class="homePageText100">{{ page.body|richtext }}</div>
    </div>
</div>


{% endblock content %}
