{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="homePageBannerContainer">
    {% image page.banner_image scale-100 as img %}<img alt="{{ img.alt }}" class="homePageBannerImage"
                                                       src="{{ img.url }}">

    <div class="homePageBannerText">
        {{ page.title|richtext }}
    </div>
</div>

<div class="homePageBorder">
    <div class="homePageContent">

        {% include "breadcrumbs.html" %}

        <div class="homePageText50">
            <h1>Help and Support Topics</h1>
            <p>
                <input aria-describedby="basic-addon2" aria-label="Search" class="form-control searchBox100"
                       id="searchBox"
                       onkeyup="filterItems()" placeholder="I want to..." type="text">

            <div class="list-group" id="supportTopicSearchResults">
                {% for topic in support_topics %}
                <a class="list-group-item" href="{{ topic.slug }}">{{ topic.title }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="homePageText50">
            <h1>FAQs</h1>

            {% for faq in support_faqs %}
            <div class="accordion accordion-flush" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button aria-expanded="false" class="accordion-button collapsed"
                                data-bs-target="#{{ faq.slug }}"
                                data-bs-toggle="collapse" type="button">
                            {{ faq.title }}
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse" data-bs-parent="#accordionExample"
                         id="{{ faq.slug }}">
                        <div class="accordion-body">
                            {{ faq.summary }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    function filterItems() {
    var input = document.getElementById('searchBox').value;
    var request = new XMLHttpRequest();
    request.open('GET', '/support/search_items?query=' + encodeURIComponent(input), true);
    request.onreadystatechange = function() {
        if (request.readyState == 4 && request.status == 200) {
            document.getElementById('supportTopicSearchResults').innerHTML = request.responseText;
        }
    }
    request.send()
}
</script>

{% endblock content %}
