{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

{% include "home_menu.html" %}

<div class="homePageBannerContainer">
    {% image page.banner_image scale-100 as img %}<img src="{{ img.url }}" alt="{{ img.alt }}"
                                                       class="homePageBannerImage">

    <div class="homePageBannerText">
        {{ page.title|richtext }}
    </div>
</div>

<div class="homePageBorder">
    <div class="homePageContent">

        <div class="breadcrumb-content">
            {% if self.get_ancestors|length > 1 %}
                <ul class="breadcrumb">
                    {% for p in self.get_ancestors %}
                        {% if p.is_root == False %}
                            <li><a href="{{ p.url }}">{{ p.title }}</a></li> &nbsp; &gt; &nbsp;
                        {% endif %}
                    {% endfor %}

                    <li class="active">{{ self.title }}</li>
                </ul>
            {% endif %}
        </div>

        <input type="text" id="searchBox" placeholder="I want to..." onkeyup="filterItems()">
        <p>

        <div class="homePageText100">
            {% for area in support_areas %}
            <div class="homePageItem">
                <a href="{{ area.slug }}">
                    {% if area.image %}
                    <div class="homePageImage100">{% image area.image max-320x150 as img %}<img src="{{ img.url }}"
                                                                                                alt="{{ img.alt }}"
                                                                                                class="homePageImage">
                    </div>
                    {% endif %}
                    <div class="homePageItemTitleBig"><h3>{{ area.title }}</h3></div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    function filterItems() {
    var input = document.getElementById('searchBox').value;
    var request = new XMLHttpRequest();
    request.open('GET', '/support/search_items?query=' + encodeURIComponent(input), true);
    request.onreadystatechange = function() {
        if (request.readyState == 4 && request.status == 200) {
            document.getElementById('support-topic-search-results').innerHTML = request.responseText;
        }
    }
    request.send()
}
</script>

{% endblock content %}
