{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="home-page-banner-container">

    {% if page.banner_image %}
        {% image page.get_parent.specific.get_banner_image scale-100 as img %}<img alt="Banner image"
                                                                                   class="home-page-banner-image"
                                                                                   src="{{ img.url }}">
    {% endif %}

    <div class="home-page-banner-text">
        {{ page.title|richtext }}
    </div>
</div>

<div class="home-page-border">
    <div class="home-page-content">

        {% include "breadcrumbs.html" %}

        <div class="home-page-text-100">{{ page.body|richtext }}</div>
    </div>
</div>


{% endblock content %}
