*.sqlite3
!example.env
*.env

__pycache__/
.pytest_cache/
.venv/
venv/
node_modules/

webpack-stats.json
eodhp_web_presence/static/
eodhp_web_presence/staticfiles/
cache/
*.egg-info/
.make-venv-installed
.make-node_modules-installed
.stignore
.pre-commit-config.yaml

*.bak
*.swp
eodhp_web_presence/media/*
uv.lock