*.sqlite3
!example.env
*.env

__pycache__/
.pytest_cache/
.venv/
venv/
node_modules/

assets/
webpack-stats.json
staticfiles/
cache/
*.egg-info/
.make-venv-installed
.make-node_modules-installed
.stignore

*.bak
*.swp
