EOX_VIEWSERVER_URL=https://my-eoxserver.com
RESOURCE_CATALOGUE_VERSION=v1.0.0
RESOURCE_CATALOGUE_URL=https://www.mycatalogue.com/stac
CATALOGUE_DATA_URL=https://path/to.json
NOTEBOOKS_URL=https://notebooks.co.uk/apphub
USERDOCS_BASE_URL=https://eo-datahub.github.io/eodh-userdocs
ALLOWED_HOSTS=localhost,127.0.0.1,my.website.co.uk
SQL_ENGINE=django.db.backends.sqlite3
SQL_DATABASE=db.sqlite3
SQL_USER=user
SQL_PASSWORD=password
SQL_HOST=localhost
SQL_PORT=5432
BASE_URL=www.example.com
ENV_NAME=dev
DJANGO_ENV=development
AWS_STORAGE_EXPORT_BUCKET_NAME=web-exports
AWS_STORAGE_BUCKET_NAME=media-files
# AWS_S3_CUSTOM_DOMAIN=eodatahub.org.uk
USE_REDIS=True
REDIS_URL=redis://redis:6379/1

# Keycloak / OIDC claims
KEYCLOAK_AUTH_URL=https://keycloak.example.com/realms/master/protocol/openid-connect/auth
# KEYCLOAK_KC_ACTION_REDIRECT_URL=https://www.example.com/accounts/kc-action/callback/
OIDC_CLAIMS_GIVEN_NAME_PATH=given_name
OIDC_CLAIMS_FAMILY_NAME_PATH=family_name
