EOX_VIEWSERVER_URL="https://my-eoxserver.com"
RESOURCE_CATALOGUE_VERSION="v1.0.0"
RESOURCE_CATALOGUE_URL="https://www.mycatalogue.com/stac"
CATALOGUE_DATA_URL="https://path/to.json
NOTEBOOKS_URL="https://notebooks.co.uk/apphub"
SECRET_KEY="r4nD0m-Ch4rAcT3r5!"
ALLOWED_HOSTS='["localhost", "127.0.0.1", "my.website.co.uk"]'
SQL_ENGINE="django.db.backends.sqlite3"
SQL_DATABASE="db.sqlite3"
SQL_USER="user"
SQL_PASSWORD="password"
SQL_HOST="localhost"
SQL_PORT="5432"
BASE_URL="www.example.com"