<div id="projects-main-active-title">Linked Accounts</div>

<ul id="linked-accounts-list">
    <li>
        <div class="linked-name">Planet Labs</div>
        <div class="linked-descr">Linked to Laura Ipsum, Dolor Sit Ltd.</div>
        <button class="linked-remove">Unlink</button>
    </li>
    <li>
        <div class="linked-name">Airbus Pléiades Neo</div>
        <div class="linked-descr">Linked to Laura Ipsum, Dolor Sit Ltd.</div>
        <button class="linked-remove">Unlink</button>
    </li>
    <li>
        <div class="linked-name">Airbus Pléiades and SPOT</div>
        <div class="linked-descr">Linked to Laura Ipsum, Dolor Sit Ltd.</div>
        <button class="linked-remove">Unlink</button>
    </li>
    <li>
        <div class="linked-name">Airbus Radar</div>
        <div class="linked-descr">Linked to Laura Ipsum, Dolor Sit Ltd.</div>
        <button class="linked-remove">Unlink</button>
    </li>
</ul>