<div class="project-menu">
    <div class="project-menu-project-title">
        {{ projectName }}
    </div>
    <div class="project-menu-item{% if active == 'stores' %} selected{% endif %}">Stores</div>
    <div class="project-menu-item{% if active == 'notebooks' %} selected{% endif %}">Notebooks</div>
    <div class="project-menu-item{% if active == 'events' %} selected{% endif %}">Events & Notifications</div>
    <div class="project-menu-item{% if active == 'catalogue' %} selected{% endif %}">Project Catalogue</div>
    <div class="project-menu-item{% if active == 'harvest' %} selected{% endif %}">Catalogue Sources</div>
    <div class="project-menu-item{% if active == 'logs' %} selected{% endif %}">Logs</div>
    <div class="project-menu-item{% if active == 'linked' %} selected{% endif %}">Linked Accounts</div>
    <div class="project-menu-item{% if active == 'invoices' %} selected{% endif %}">Invoices</div>
</div>