{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div style="background-image: url('{% static 'img/fake-catalogue/PlanetScotlandMap.png' %}');" id="map-image">

    <div id="filter-box-all" class="filter-box">
        <div style="font-weight: bold" id="filter-box-heading" class="filter-box-heading">Filter By</div>
        <div class="filter-box-section">
            <div class="filter-box-section-heading">Product Type</div>
            <div class="filter-box-item">
                <input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked="">
                Satellite Observation (8)
            </div>
            <div class="filter-box-item">
                <input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked="">
                Re-analysis (0)
            </div>
            <div class="filter-box-item">
                <input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked="">
                Climate projections (1)
            </div>
            <div class="filter-box-item">
                <input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked="">
                In-situ observations (0)
            </div>
        </div>
        <div class="filter-box-section">
            <div class="filter-box-section-heading">Sensor Type</div>
            <div class="filter-box-item">
                <input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked="">
                Optical (6)
            </div>
            <div class="filter-box-item">
                <input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked="">
                SAR (2)
            </div>
        </div>
        <div class="filter-box-section">
            <div class="filter-box-section-heading">Licence Type</div>
            <div class="filter-box-item">
                <input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked="">
                Open (6)
            </div>
            <div class="filter-box-item">
                <input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked="">
                Commercial (3)
            </div>
        </div>
        <div class="filter-box-section">
            <div class="filter-box-section-heading">QA</div>
            <div class="filter-box-item">
                <input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked="">
                Has passed QA checks (5)
            </div>
            <div class="filter-box-item">
                <input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked="">
                Has QA checks (6)
            </div>
            <div class="filter-box-item">
                <input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked="">
                No QA checks (3)
            </div>
        </div>
    </div>

    <div id="filter-box-search" class="filter-box">
        <div style="font-weight: bold" id="filter-box-heading" class="filter-box-heading">Filter By</div>
        <div class="filter-box-section">
            <div class="filter-box-section-heading">Product Type</div>
            <div class="filter-box-item">
                <input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked="">
                Satellite Observation (4)
            </div>
            <div class="filter-box-item">
                <input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked="">
                Re-analysis (0)
            </div>
            <div class="filter-box-item">
                <input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked="">
                Climate projections (0)
            </div>
            <div class="filter-box-item">
                <input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked="">
                In-situ observations (0)
            </div>
        </div>
        <div class="filter-box-section">
            <div class="filter-box-section-heading">Sensor Type</div>
            <div class="filter-box-item">
                <input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked="">
                Optical (3)
            </div>
            <div class="filter-box-item">
                <input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked="">
                SAR (1)
            </div>
        </div>
        <div class="filter-box-section">
            <div class="filter-box-section-heading">Licence Type</div>
            <div class="filter-box-item">
                <input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked="">
                Open (3)
            </div>
            <div class="filter-box-item">
                <input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked="">
                Commercial (1)
            </div>
        </div>
        <div class="filter-box-section">
            <div class="filter-box-section-heading">QA</div>
            <div class="filter-box-item">
                <input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked="">
                Has passing QA checks (3)
            </div>
            <div class="filter-box-item">
                <input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked="">
                Has QA checks (3)
            </div>
            <div class="filter-box-item">
                <input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked="">
                No QA checks (1)
            </div>
        </div>
    </div>


    <div id="search-area">
        <form action="javascript:" id="search-form">
            <input type="text" name="searchterm" style="margin-top: 1rem; width: 100%; margin-bottom: 1rem;"
                placeholder="Search term" id="searchterm">
        </form>
        <div id="search-results-container" style="display: none">
            <span id="expand" style="float: right; margin-right: 1rem; font-size: 2rem; margin-top: -0.5rem">⤢</span>
            <div id="search-results" style="width: 100%; padding-bottom: 2rem; display: none;">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Search Results for "Sentinel PlanetScope"</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked=""></td>
                            <td style="margin-right: 1rem;">Sentinel 1</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked=""></td>
                            <td>Sentinel 2</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked=""></td>
                            <td style="padding-right: 1rem;">Planet PlanetScope</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked=""></td>
                            <td style="padding-right: 1rem;">Defra and JNCC Sentinel-2 Analysis Ready Data (ARD)</td>
                        </tr>
                    </tbody>
                </table>
            </div>



            <div id="all-search-results" style="width: 100%; padding-bottom: 2rem; display: none;">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>All Results</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked=""></td>
                            <td style="margin-right: 1rem;">Sentinel 1</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked=""></td>
                            <td>Sentinel 2</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked=""></td>
                            <td>Landsat 5</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked=""></td>
                            <td>Landsat 8</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked=""></td>
                            <td style="padding-right: 1rem;">Defra and JNCC Sentinel-2 Analysis Ready Data (ARD)</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked=""></td>
                            <td style="padding-right: 1rem;">Planet PlanetScope</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked=""></td>
                            <td style="padding-right: 1rem;">Airbus Pléiades</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked=""></td>
                            <td style="padding-right: 1rem;">Airbus Radar</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" style="margin-right: 1rem; margin-left: 0.5rem;" checked=""></td>
                            <td style="padding-right: 1rem;">CMIP6</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="padding-right: 1rem;">NDVI Workflow</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>


    <div id="aoi" class="aoi" style="left: 700px; top: 250px; width: 300px; height: 350px;"></div>

    <div id="point-search-results-box-old" style="display: none">
        <div class="point-search-result-box">
            <img src="https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2023/11/20/S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb_vmsk_sharp_rad_srefdem_stdsref_thumbnail.jpg"
                class="point-search-result-image">
            <div class="point-search-result-text-box">
                <div class="point-search-result-collection">Sentinel 2</div>
                <div class="point-search-result-date">2023-11-20</div>
                <button class="point-search-copy-button"
                    data-stac-url="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb">
                    Copy URL
                </button>
            </div>
        </div>

        <div class="point-search-result-box">
            <img src="https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2023/11/20/S2A_20231120_latn519lonw0022_T30UWC_ORB037_20231120132420_utm30n_osgb_vmsk_sharp_rad_srefdem_stdsref_thumbnail.jpg"
                class="point-search-result-image">
            <div class="point-search-result-text-box">
                <div class="point-search-result-collection">Sentinel 2</div>
                <div class="point-search-result-date">2023-11-25</div>
                <button class="point-search-copy-button"
                    data-stac-url="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn519lonw0022_T30UWC_ORB037_20231120132420_utm30n_osgb">
                    Copy URL
                </button>
            </div>
        </div>

        <div class="point-search-result-box">
            <img src="https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2023/11/20/S2A_20231120_latn519lonw0037_T30UVC_ORB037_20231120132420_utm30n_osgb_vmsk_sharp_rad_srefdem_stdsref_thumbnail.jpg"
                class="point-search-result-image">
            <div class="point-search-result-text-box">
                <div class="point-search-result-collection">Sentinel 2</div>
                <div class="point-search-result-date">2023-11-30</div>
                <button class="point-search-copy-button"
                    data-stac-url="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn519lonw0037_T30UVC_ORB037_20231120132420_utm30n_osgb">
                    Copy URL
                </button>
            </div>
        </div>

        <div class="point-search-result-box">
            <img src="https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2023/11/20/S2A_20231120_latn528lonw0022_T30UWD_ORB037_20231120132420_utm30n_osgb_vmsk_sharp_rad_srefdem_stdsref_thumbnail.jpg"
                class="point-search-result-image">
            <div class="point-search-result-text-box">
                <div class="point-search-result-collection">Sentinel 2</div>
                <div class="point-search-result-date">2023-12-05</div>
                <button class="point-search-copy-button"
                    data-stac-url="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn528lonw0022_T30UWD_ORB037_20231120132420_utm30n_osgb">
                    Copy URL
                </button>
            </div>
        </div>

    </div>





    <div id="point-search-results-box">
        <div class="point-search-result-box" id="point-search-result-s2">
            <div class="point-search-result-image-stack">
                <img src="https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2023/11/20/S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb_vmsk_sharp_rad_srefdem_stdsref_thumbnail.jpg"
                    class="point-search-result-image">
                <div class="point-search-result-image-stack-2"></div>
                <div class="point-search-result-image-stack-1"></div>
            </div>
            <div class="point-search-result-text-box">
                <div class="point-search-result-collection">Sentinel 2</div>
                <div class="point-search-result-date">3 items</div>
            </div>
        </div>

        <div class="point-search-result-box" id="point-search-result-ard">
            <div class="point-search-result-image-stack">
                <img src="https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2023/11/20/S2A_20231120_latn519lonw0022_T30UWC_ORB037_20231120132420_utm30n_osgb_vmsk_sharp_rad_srefdem_stdsref_thumbnail.jpg"
                    class="point-search-result-image">
                <div class="point-search-result-image-stack-2"></div>
                <div class="point-search-result-image-stack-1"></div>
            </div>
            <div class="point-search-result-text-box">
                <div class="point-search-result-collection">Sentinel 2 ARD</div>
                <div class="point-search-result-date">3 items</div>
            </div>
        </div>

        <div class="point-search-result-box" id="point-search-result-planet">
            <div class="point-search-result-image-stack">
                <img src="https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2023/11/20/S2A_20231120_latn519lonw0037_T30UVC_ORB037_20231120132420_utm30n_osgb_vmsk_sharp_rad_srefdem_stdsref_thumbnail.jpg"
                    class="point-search-result-image">
                <div class="point-search-result-image-stack-2"></div>
                <div class="point-search-result-image-stack-1"></div>
            </div>
            <div class="point-search-result-text-box">
                <div class="point-search-result-collection">PlanetScope</div>
                <div class="point-search-result-date">20 items</div>
            </div>
        </div>

    </div>

    <div id="point-dataset-search-results-box-s2" class="point-dataset-search-results-box">
        <div class="point-dataset-search-results-title">Sentinel 2</div>
        <!-- prettier-ignore-start -->
        {% include "./map-item-search-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl="https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2023/11/20/S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb_vmsk_sharp_rad_srefdem_stdsref_thumbnail.jpg" date="2023-11-20" %}
        {% include "./map-item-search-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl="https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2023/11/20/S2A_20231120_latn519lonw0022_T30UWC_ORB037_20231120132420_utm30n_osgb_vmsk_sharp_rad_srefdem_stdsref_thumbnail.jpg" date="2023-11-25" %}
        {% include "./map-item-search-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl="https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2023/11/20/S2A_20231120_latn519lonw0037_T30UVC_ORB037_20231120132420_utm30n_osgb_vmsk_sharp_rad_srefdem_stdsref_thumbnail.jpg" date="2023-11-30" %}
        <!-- prettier-ignore-end -->
    </div>
    <div id="point-dataset-search-results-box-ard" class="point-dataset-search-results-box">
        <div class="point-dataset-search-results-title">Sentinel 2 ARD</div>
        <!-- prettier-ignore-start -->
        {% include "./map-item-search-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl="https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2023/11/20/S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb_vmsk_sharp_rad_srefdem_stdsref_thumbnail.jpg" date="2023-11-20" %}
        {% include "./map-item-search-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl="https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2023/11/20/S2A_20231120_latn519lonw0022_T30UWC_ORB037_20231120132420_utm30n_osgb_vmsk_sharp_rad_srefdem_stdsref_thumbnail.jpg" date="2023-11-25" %}
        {% include "./map-item-search-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl="https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2023/11/20/S2A_20231120_latn519lonw0037_T30UVC_ORB037_20231120132420_utm30n_osgb_vmsk_sharp_rad_srefdem_stdsref_thumbnail.jpg" date="2023-11-30" %}
        <!-- prettier-ignore-end -->
    </div>
    <div id="point-dataset-search-results-box-planet" class="point-dataset-search-results-box">
        <div class="point-dataset-search-results-title">PlanetScope</div>
        <!-- prettier-ignore-start -->
        {% get_static_prefix as STATIC_PREFIX %}
        {% with STATIC_PREFIX|add:"img/fake-catalogue/PSScene-thumb-1-20240708_114828_15_2484.png" as thumb1 %}
        {% include "./map-item-search-commercial-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl=thumb1 date="2023-11-20" %}
        {% endwith %}

        {% with STATIC_PREFIX|add:"img/fake-catalogue/PSScene-thumb-2-20240708_114826_33_2484.png" as thumb1 %}
        {% include "./map-item-search-commercial-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl=thumb1 date="2023-11-20" %}
        {% endwith %}

        {% with STATIC_PREFIX|add:"img/fake-catalogue/PSScene-thumb-3-20240708_114824_51_2484.png" as thumb1 %}
        {% include "./map-item-search-commercial-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl=thumb1 date="2023-11-20" %}
        {% endwith %}

        {% with STATIC_PREFIX|add:"img/fake-catalogue/PSScene-thumb-4-20240707_105337_95_24c5.png" as thumb1 %}
        {% include "./map-item-search-commercial-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl=thumb1 date="2023-11-20" %}
        {% endwith %}

        {% with STATIC_PREFIX|add:"img/fake-catalogue/PSScene-thumb-5-20240707_105335_85_24c5.png" as thumb1 %}
        {% include "./map-item-search-commercial-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl=thumb1 date="2023-11-20" %}
        {% endwith %}

        {% with STATIC_PREFIX|add:"img/fake-catalogue/PSScene-thumb-6-20240707_105333_75_24c5.png" as thumb1 %}
        {% include "./map-item-search-commercial-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl=thumb1 date="2023-11-20" %}
        {% endwith %}

        {% with STATIC_PREFIX|add:"img/fake-catalogue/PSScene-thumb-7-20240707_105331_65_24c5.png" as thumb1 %}
        {% include "./map-item-search-commercial-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl=thumb1 date="2023-11-20" %}
        {% endwith %}

        {% with STATIC_PREFIX|add:"img/fake-catalogue/PSScene-thumb-8-20240627_114447_49_247a.png" as thumb1 %}
        {% include "./map-item-search-commercial-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl=thumb1 date="2023-11-20" %}
        {% endwith %}

        {% with STATIC_PREFIX|add:"img/fake-catalogue/PSScene-thumb-9-20240627_114445_64_247a.png" as thumb1 %}
        {% include "./map-item-search-commercial-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl=thumb1 date="2023-11-20" %}
        {% endwith %}

        {% with STATIC_PREFIX|add:"img/fake-catalogue/PSScene-thumb-10-20240626_105325_11_24bc.png" as thumb1 %}
        {% include "./map-item-search-commercial-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl=thumb1 date="2023-11-20" %}
        {% endwith %}

        {% with STATIC_PREFIX|add:"img/fake-catalogue/PSScene-thumb-11-20240626_105323_03_24bc.png" as thumb1 %}
        {% include "./map-item-search-commercial-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl=thumb1 date="2023-11-20" %}
        {% endwith %}

        {% with STATIC_PREFIX|add:"img/fake-catalogue/PSScene-thumb-12-20240626_105320_95_24bc.png" as thumb1 %}
        {% include "./map-item-search-commercial-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl=thumb1 date="2023-11-20" %}
        {% endwith %}

        {% with STATIC_PREFIX|add:"img/fake-catalogue/PSScene-thumb-13-20240626_105318_87_24bc.png" as thumb1 %}
        {% include "./map-item-search-commercial-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl=thumb1 date="2023-11-20" %}
        {% endwith %}

        {% with STATIC_PREFIX|add:"img/fake-catalogue/PSScene-thumb-14-20240623_105035_53_24c5.png" as thumb1 %}
        {% include "./map-item-search-commercial-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl=thumb1 date="2023-11-20" %}
        {% endwith %}

        {% with STATIC_PREFIX|add:"img/fake-catalogue/PSScene-thumb-15-20240623_105033_44_24c5.png" as thumb1 %}
        {% include "./map-item-search-commercial-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl=thumb1 date="2023-11-20" %}
        {% endwith %}

        {% with STATIC_PREFIX|add:"img/fake-catalogue/PSScene-thumb-16-20240623_105031_35_24c5.png" as thumb1 %}
        {% include "./map-item-search-commercial-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl=thumb1 date="2023-11-20" %}
        {% endwith %}

        {% with STATIC_PREFIX|add:"img/fake-catalogue/PSScene-thumb-17-20240623_105029_26_24c5.png" as thumb1 %}
        {% include "./map-item-search-commercial-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl=thumb1 date="2023-11-20" %}
        {% endwith %}

        {% with STATIC_PREFIX|add:"img/fake-catalogue/PSScene-thumb-18-20240521_114156_20_24fc.png" as thumb1 %}
        {% include "./map-item-search-commercial-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl=thumb1 date="2023-11-20" %}
        {% endwith %}

        {% with STATIC_PREFIX|add:"img/fake-catalogue/PSScene-thumb-19-20240521_114153_92_24fc.png" as thumb1 %}
        {% include "./map-item-search-commercial-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl=thumb1 date="2023-11-20" %}
        {% endwith %}

        {% with STATIC_PREFIX|add:"img/fake-catalogue/PSScene-thumb-10-20240521_114151_63_24fc.png" as thumb1 %}
        {% include "./map-item-search-commercial-result.html" with stacurl="https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn510lonw0036_T30UVB_ORB037_20231120132420_utm30n_osgb" thumburl=thumb1 date="2023-11-20" %}
        {% endwith %}


        <!-- prettier-ignore-end -->
    </div>
</div>
{% endblock content %}