/* stylelint-disable no-invalid-position-at-import-rule */
$light-blue: #bcceeb;
$blue: #4c72ba;
$dark-blue: #2a3559;
$white: #fff;
$light-grey: #f6f6f6;
$grey: #efefef;
$black: #000;
$theme-colors: (
  'light': $light-grey,
  'primary': $blue,
  'dark': $dark-blue,
);

// Import required global Bootstrap aspects
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/maps';
@import '~bootstrap/scss/root';

html * {
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
}

body {
  margin: unset;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Encapsulate Bootstrap styles within a specific selector class
.bootstrap-scope {
  @import '~bootstrap/scss/bootstrap';
}
