$light-blue:    #BCCEEB;
$blue:          #4C72BA;
$dark-blue:     #2A3559;
$white:         #FFFFFF;
$light-grey:    #F6F6F6;
$grey:          #EFEFEF;
$black:         #000000;

$theme-colors: (
  "light": $light-grey,
  "primary": $blue,
  "dark": $dark-blue,
);

html * {
    font-family: "Fira Sans";
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@import "bootstrap/scss/bootstrap";
