.dark-theme {
  --background: #060606;
  --text-primary: #fff;
  --text-secondary: #757575;
  --button-bg: #4c72ba;
  --button-text: #fff;
  --icon-primary: #fff;
  --icon-secondary: #2c2c2c;
  --content-border: 1px solid #f5f5f527;
  --inverse-background: white;
  --inverse-text: black;
  --transition: color 1s ease, background-color 1s ease, border-color 1s ease;
}

.light-theme {
  --background: #fff;
  --text-primary: #000;
  --text-secondary: #969696;
  --button-bg: #4c72ba;
  --button-text: #fff;
  --icon-primary: #333;
  --icon-secondary: #666;
  --content-border: 1px solid rgb(128 128 128 / 15.8%);
  --inverse-background: #000;
  --inverse-text: #fff;
  --transition: color 1s ease, background-color 1s ease, border-color 1s ease;
}

html * {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  transition: var(--transition);
  background-color: var(--background);
  color: var(--text-primary);
}

.content-page {
  padding-top: 74px;

  @media (max-width: 950px) {
    padding-top: 45px;
  }
}

.logo {
  padding-right: 1.15rem;
  max-width: 180px;

  .logo-white,
  .logo-colour {
    display: none;
    width: 100%;
    max-width: 180px;
    height: auto;
  }

  .light-theme & {
    .logo-white {
      display: none;
    }
    .logo-colour {
      max-width: 185px;
      display: block;
    }
  }

  .dark-theme & {
    .logo-white {
      display: block;
      padding-left: 0.3rem;
    }
    .logo-colour {
      display: none;
    }
  }
}
