.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.5rem 2rem;
  position: fixed;
  width: 100%;
  background-color: var(--background);
  z-index: 1000;
  transition: var(--transition);
  height: 74px;

  &.top {
    box-shadow: none;
  }

  &.scrolled {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &.open {
    .menu__left {
      display: block;
    }
  }

  &__toggle {
    display: none;
    cursor: pointer;
    margin-right: 1rem;

    .light-theme & {
      filter: invert(1);
    }

    img {
      width: 24px;
      height: 24px;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    flex: 1;
    width: 65%;
    min-width: 500px;

    .logo {
      padding-right: 1.15rem;

      .logo-white,
      .logo-colour {
        display: none;
        width: 100%;
        max-width: 180px;
        height: auto;
      }

      .light-theme & {
        .logo-white {
          display: none;
        }
        .logo-colour {
          max-width: 185px;
          display: block;
        }
      }

      .dark-theme & {
        .logo-white {
          display: block;
          padding-left: 0.3rem;
        }
        .logo-colour {
          display: none;
        }
      }
    }

    .dropdown {
      position: relative;

      &__toggle {
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 0.25rem;
        user-select: none;
      }

      .arrow {
        width: 11px;
        height: 11px;
        transition: transform 0.2s;
        margin-left: 0.5rem;

        .light-theme & {
          filter: invert(0.5);
        }
      }

      &__menu {
        display: none;
        position: absolute;
        top: 2.5rem;
        left: 0;
        background-color: var(--background);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
        min-width: 200px;
        border-left: 1px solid var(--inverse-background);
        border-right: 1px solid var(--inverse-background);
        border-bottom: 1px solid var(--inverse-background);

        a {
          display: block;
          padding: 1rem 0;
          color: var(--text-primary);
          text-decoration: none;
          user-select: none;
          padding: 1rem 2rem;
          transition:
            background-color 0.2s,
            color 0.2s;

          &:hover {
            background-color: var(--inverse-background);
            color: var(--inverse-text);
          }
        }
      }

      &.open {
        .dropdown__menu {
          display: block;
        }

        .arrow {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3rem;
    width: 35%;
    min-width: 400px;

    #dark-theme-toggle {
      cursor: pointer;

      .light-theme & {
        filter: invert(1);
      }
    }

    .avatar {
      .light-theme & {
        filter: invert(1);
      }
    }
  }

  &__item {
    color: var(--text-primary);
    display: flex;
    align-items: center;
    gap: 0.875rem;
    font-size: 1rem;
    min-width: 50px;

    .logo {
      filter: invert(0.5);
    }

    a {
      color: var(--text-primary);
      text-decoration: none;
    }
  }
}

@media (max-width: 950px) {
  .menu {
    height: auto;

    .logo {
      display: none;
    }

    &__toggle {
      display: block;
    }

    &__right {
      display: none;
    }

    &__left {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      flex-direction: column;
      background-color: var(--background);
      // padding: 0rem 2rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      .dropdown {
        width: 100%;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;

        &__menu {
          position: static;
          box-shadow: none;
          border: #d3d3d32b;
          text-align: center;
          width: 100%;
          background-color: lightgray;
          a {
            color: black;
          }
        }
      }
    }
  }
}
