
* {
  padding: 0px;
  margin: 0px;
  transition: 0.5 s;
  font-family: Fira Sans, sans-serif;
}
body {
}
.menu {
    padding: 10px;
    height: 100vh;
    background-color: pink;
    float: left;
    width: 300px;
    align-items: center;
}
.main-content {
    width: 20%;
    padding: 10px;
    height: 100%;
    width: auto;
    overflow: hidden;
    float: left;
}
.horizontal_spacer_5 {
    width: 5%;
    height: 100vh;
    background-color: green;
    float: left;
}
.menu_items {
    width: auto;
    float: left;
}
.menu_section {
    width: 100%;
    clear: both;
    float: left;
    overflow: hidden;
}
.menu_section_bottom {
    width: 100%;
    clear: both;
    float: left;
    overflow: hidden;
    bottom: 0px;
}
nav {
    background-color: blue;
}
nav .links {

}
.links p {
    padding: 10px;
}
.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}

.links li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.links li a:hover {
    background-color: #555;
    color: white;
    border-radius: 10px;
}
.menu_icon {
    width: 2em;
    display: inline-block;
}
.menu_icon img {
  max-height: 100%;
  max-width: 100%;
}
#mobile-menu-btn {
    display: none;
}
.mobile-menu {
      color: red;
      display: none;
      position: absolute;
      left: 0;
      height: 60vh;
      width: 70vw;
      background-color: pink;
}
@media (max-width: 600px) {
    #mobile-menu-btn {
        display: block;
    }
    nav .links {
        display: none;
    }
    .menu {
        height: 1%;
        position: static;
    }
    .mobile-menu {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        left: 0;
    }
    .main-content {
        height: 100%;
        width: 100%;
        float: left;
        background-color: grey;
    }
    .home_menu {
        display: none;
    }
}