
* {
  padding: 0px;
  margin: 0px;
  transition: 0.5 s;
  font-family: Fira Sans, sans-serif;
}
html {
    background-color: black;
}
body {
}
.menu {
    padding: 5px;
    float: left;
    width: 270px;
    align-items: center;
}
.main-content {
    padding: 10px;
    height: 100vh;
    width: calc(100% - 270px);
    float: right;
}
.horizontal_spacer_5_l {
    width: 5%;
    height: 100vh;
    background-color: #EFEFEF;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    float: left;
}
.horizontal_spacer_5_r {
    width: 5%;
    height: 100vh;
    background-color: #EFEFEF;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    float: left;
}
.menu_items {
    width: auto;
    float: left;
    height: 100vh;
    background-color: #EFEFEF;
}
.menu_section_minimised {
    display: none;
    width: 100%;
}
.menu_section {
    clear: both;
    float: left;
    width: 100%;
    border-bottom: thick double #FFFFFF;
}
.menu_section_bottom {
    clear: both;
    float: left;
    margin-top: auto;
    width: 100%;
    border-top: thick double #FFFFFF;
}
.menu_section_spacer {
    height: calc(100vh - 120px);
    background-color: #EFEFEF;
}
.spacer {
    height: 5px;
    width: 100%;
    background-color: #EFEFEF;
}
nav {
}
nav .links {

    display: flex;

}
.links p {
    padding: 10px;
}
.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #EFEFEF;
}

.links li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.links li a:hover {
    background-color: #BCCEEB;
    color: white;
    border-radius: 10px;
}
.menu_icon {
    width: 2em;
    display: inline-block;
}
.menu_text {
    display: inline-block;
    width: 155px;
}
.menu_icon img {
  max-height: 100%;
  max-width: 100%;
}
#menu_minimise_button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: right;
    margin-right: -35px;
    transform: translateX(-20px);
    margin-top: 100px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    border: 10px;
    border-color: #000000;
}
#menu_minimise_button img {
  width: 20px;
  height: 20px;
}

#mobile-menu-btn {
    display: none;
    background-color: pink;
}
#mobile-menu-btn img {
    width: 50px;
}
.mobile-menu {
    display: none;
    position: absolute;
    left: 0;
    height: auto;
    background-color: #EFEFEF;
}

@media (max-width: 600px) {
    #mobile-menu-btn {
        display: block;
    }
    nav .links {
        display: none;
    }
    .menu {
        height: 1%;
        position: static;
    }
    .mobile-menu {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
        left: 0;
        width: 100%;
    }
    .main-content {
        height: 100%;
        width: 100%;
        float: left;
    }
    .home_menu {
        display: none;
    }
    .horizontal_spacer_5_l, .horizontal_spacer_5_r {
        height: auto;
    }
    .menu_section, .menu_section_bottom {
        width: 100vw;
        padding-bottom: 10px;
    }
}