<div class="project-menu">
    <div class="project-menu-project-title">
        <a href="?active=">{{ projectName }}</a>
    </div>
    <a class="project-menu-item{% if active == 'stores' %} selected{% endif %}" href="?active=stores">Stores</a>
    <a class="project-menu-item{% if active == 'notebooks' %} selected{% endif %}" href="/apphub">Notebooks</a>
    <a class="project-menu-item{% if active == 'events' %} selected{% endif %}">Events & Notifications</a>
    <a class="project-menu-item{% if active == 'catalogue' %} selected{% endif %}">Project Catalogue</a>
    <a class="project-menu-item{% if active == 'harvest' %} selected{% endif %}">Catalogue Sources</a>
    <a class="project-menu-item{% if active == 'logs' %} selected{% endif %}">Logs</a>
    <a class="project-menu-item{% if active == 'linked' %} selected{% endif %}" href="?active=linked">
        Linked Accounts
    </a>
    <a class="project-menu-item{% if active == 'invoices' %} selected{% endif %}">Invoices</a>
</div>