{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load render_bundle from webpack_loader %}

{% block content %}

<div id="projects-page-container">
    {% include "./projects-menu.html" with active=request.GET.active %}

    <div id="projects-page-main">
        <div id="projects-page-main-projectname">My Personal Project</div>
        {% if not request.GET.active %}{% include "./project-home.html" with active=request.GET.active %}{% endif %}
        {% if request.GET.active == "stores" %}{% include "./stores.html" with active=request.GET.active %}{% endif %}
        {% if request.GET.active == "linked" %}{% include "./linked.html" with active=request.GET.active %}{% endif %}
    </div>
</div>


{% endblock content %}