<div id="projects-main-active-title">Stores</div>

<div id="stores-count">2 stores</div>

<ul id="stores-list">
    <li>
        <div class="store-id">project-s3</div>
        <div class="store-name">Primary Project Object Store</div>
        <div class="store-descr">This is the default object store for your project.</div>
        <div class="store-info-header">Location</div>
        <div class="store-info">s3://arn:aws:s3:eu-west-2:1234567890:accesspoint/example-project-project-s3/</div>
        <div class="store-info">https://example-project.dev.eodatahub.org.uk/project-s3/</div>
    </li>
    <li>
        <div class="store-id">project-block</div>
        <div class="store-name">Primary Project Block Store</div>
        <div class="store-descr">This is the default block store for your project.</div>
        <div class="store-info-header">Location</div>
        <div class="store-info"><code class="code-block">/stores/project-block/</code>
            <span class="store-info-note">within notebooks and workflows</span>
        </div>
        <div class="store-info">https://example-project.dev.eodatahub.org.uk/project-block/</div>
    </li>
</ul>