@use '../scss/custom.scss';

.logo {
    width: 300px;
    margin-left: 1em;
}
#menuNavBar {
    padding: 0px;
    .container-fluid {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#navbar-toggler-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    margin-left: auto;
}
.navBarContainerBlank {
    height: 130px;
}
.block {
    font-size: 24px;
    line-height: 2.7;
    z-index: 9999;
    border-left: 20px solid custom.$light-grey;
    border-right: 20px solid custom.$light-grey;
}
.nav-link:hover {
    background-color: custom.$blue !important;
    color: white !important;
}
.solid {
    border-left: 20px solid custom.$dark-blue;
    border-right: 20px solid custom.$dark-blue;
}
.solid .nav-link {
    background-color: custom.$dark-blue;
    color: custom.$white !important;
}

@media (max-width: 1399px) {
    .block {
        width: 90vw;
        z-index: 9999;
        text-align: center;
        border-left: none;
        border-right: none;
    }
    .block:hover {
        background: custom.$light-blue;
    }
    .nav-link:hover {
        background: custom.$light-blue !important;
        color: custom.$black !important;
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
        text-align: center;
    }
    .navbar .navbar-collapse {
        text-align: center;
        background-color: custom.$blue;
        padding-bottom: 20px
    }
    .navBarContainerBlank {
        width: 100vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-nav .nav-item {
        display: inline-block;
    }
    .nav-item {
        text-align: center;
    }
    .nav-link {
        background: none !important;
        color: custom.$white !important;
    }
    .navbar-expand-xl {
        .navbar-toggler {
            display: block !important;
            align: right;
        }
    }
    .navbar-expand-xl .navbar-collapse.show {
        display: block !important;
    }
}
