{% load static %}



<nav>
    <div class="links">
        <div class="horizontal_spacer_5_l"></div>
        <div class="menu_items">
            <div class="spacer"></div>
            <div id="menu_section_minimised" class="menu_section_minimised">
                <ul>
                    <li><a id="maximise_menu"><div class="menu_icon"><img src="{% static 'img/menu/down_arrow_circle.svg' %}"></div><div class="menu_text">&nbsp; Menu</div></a></li>
                </ul>
            </div>
            <div class="menu_section">
                <ul>
                    <li><a href="/"><div class="menu_icon"><img src="{% static 'img/menu/profile.svg' %}"></div><div class="menu_text">&nbsp; Profile</div></a></li>
                </ul>
            </div>
            <div class="menu_section">
                <ul>
                    <li><a href="/"><div class="menu_icon"><img src="{% static 'img/menu/home.svg' %}"></div><div class="menu_text">&nbsp; Home</div></a></li>
                    <li><a href="/"><div class="menu_icon"><img src="{% static 'img/menu/workspaces.svg' %}"></div><div class="menu_text">&nbsp; Workspaces</div></a></li>

                    {% if resource_catalogue_url %}
                    <li><a href="{{ resource_catalogue_url }}"><div class="menu_icon"><img src="{% static 'img/menu/catalogue.svg' %}"></div><div class="menu_text">&nbsp; Resource Catalogue</div></a></li>
                    {% endif %}

<!--                    <li><a href="/"><div class="menu_icon"><img src="{% static 'img/menu/catalogue.svg' %}"></div><div class="menu_text">&nbsp; Resource Catalogue</div></a></li>-->
                    <li><a href="/"><div class="menu_icon"><img src="{% static 'img/menu/map.svg' %}"></div><div class="menu_text">&nbsp; Map Viewer</div></a></li>
                    <li><a href="/"><div class="menu_icon"><img src="{% static 'img/menu/help.svg' %}"></div><div class="menu_text">&nbsp; Help and Support</div></a></li>
                    <li><a href="/"><div class="menu_icon"><img src="{% static 'img/menu/admin.svg' %}"></div><div class="menu_text">&nbsp; Admin</div></a></li>
                </ul>
            </div>
            <div class="menu_section_spacer"></div>
            <div class="menu_section_bottom">
                <ul>
                    <li><a id="minimise_menu" ><div class="menu_icon"><img src="{% static 'img/menu/up_arrow_circle.svg' %}"></div><div class="menu_text">&nbsp; Minimise Menu</div></a></li>
                </ul>
            </div>
            <div class="menu_section_bottom">
                <ul>
                    <li><a href="/"><div class="menu_icon"><img src="{% static 'img/menu/log_out.svg' %}"></div><div class="menu_text">&nbsp; Log out</div></a></li>
                </ul>
            </div>
            <div class="spacer"></div>
        </div>
        <div class="horizontal_spacer_5_r"></div>
        <div id="menu_minimise_button"><img id="hide_menu" src="{% static 'img/menu/left_arrow.svg' %}"></div>
    </div>
