@use '../scss/custom.scss';

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#map-image {
    max-width: 2653px;
    height: 100%;
    background-position-x: -200px;
    background-repeat: no-repeat;

    // This is here so that the map becomes the containing block to #search-area.
    position: relative;
}

#search-area {
    width: 80%;
    max-width: 1100px;
    background-color: custom.$grey;
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
    z-index: 100;

    // These exist to approximately centre the box in the space left over after the 'filter by'
    // box.
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    left: 200px;
    right: 0
}

#search-area thead tr {
    border-bottom: 2px;
    border-style: solid;
    border-color: custom.$blue
}

#search-area tbody tr {
    border-bottom: 1px;
    border-color: custom.$blue;
    border-style: solid;
    padding-top: 5px;
}

.filter-box {
    background-color: custom.$grey;
    height: 100%;
    padding-left: 1rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    color: black;
    display: inline-block;
}

.filter-box-heading {
    font-size: 1.4rem;
}

// Box shown when search results are simulated. Shows fewer filters.
#filter-box-search {
    display: none;
}

.filter-box-section {
    border-bottom-width: 1px;
    border-bottom-color: custom.$blue;
    border-bottom-style: solid;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 0.2rem;
}

.filter-box-section-heading {
    padding-bottom: 0.2rem;
}

#point-search-results-box {
    position: absolute;
    max-height: 80%;
    top: 10%;
    width: 260px;
    display: none;
    background-color: custom.$grey;
    color: black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    overflow-y: auto;
}

.point-dataset-search-results-box {
    position: absolute;
    max-height: 80%;
    top: 10%;
    width: 400px;
    display: none;
    background-color: custom.$grey;
    color: black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    overflow-y: auto;
}


.point-search-result-box {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.point-search-result-image-stack {
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
}

.point-search-result-image {
    width: 100px;
    height: 100px;
    // border: 1px solid black;
    z-index: 10;
    position: relative;
}

.point-dataset-search-results-box .point-search-result-image {
    width: 256px;
    height: 256px;
}


// .point-search-result-image:hover {
//     width: 200px;
//     height: 200px;
// }

.point-search-result-image-stack-1,
.point-search-result-image-stack-2 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: custom.$blue;
    position: absolute;
}

.point-search-result-image-stack-1 {
    z-index: 1;
    left: 10px;
    top: 10px;
}

.point-search-result-image-stack-2 {
    z-index: 2;
    left: 5px;
    top: 5px;
}

.point-search-result-text-box {
    margin-left: 1rem;
    min-width: 5rem;
}

.point-search-copy-button {
    margin-top: 0.2rem;
}


#aoi {
    border: 1px solid red;
    position: absolute;
    background-color: #ffffff55;
}