@import "/usr/lib/node_modules/bootstrap/scss/bootstrap";

$light-blue:    #BCCEEB;
$blue:          #4C72BA;
$dark-blue:     #2A3559;
$white:         #FFFFFF;
$light-grey:    #F6F6F6;
$grey:          #EFEFEF;
$black:          #000000;


$theme-colors: (
  "light": $light-blue,
  "dark": $dark-blue,
  "primary": $blue,
);

html * {
    font-family: "Fira Sans";
}

@import "/usr/lib/node_modules/bootstrap/scss/bootstrap";
